.con__cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 14%;
}
.con__ops{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.con__op{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 5rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.con__op:hover{
    background:transparent;
    border: var(--color-primary-variant);
}
.con__op__icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.con__op a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
@media screen and (max-width:600px) {
    .con__ops{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
    .con__op{
        background: var(--color-bg-variant);
        padding: 1.2rem;
        border-radius: 5rem;
        text-align: center;
        border: 1px solid transparent;
        transition: var(--transition);
        width: 20rem;
        position:relative;
        right: 6rem;
    }
}